In [ ]:
thislist = ["orange", "mango","kiwi","pineapple","banana"]
thislist.sort()
print(thislist)

['banana', 'kiwi', 'mango', 'orange', 'pineapple']

In [ ]:
thislist = [100,40,50,2,22,83,78]
thislist.sort()
print(thislist)

[2, 22, 40, 50, 78, 83, 100]

In [ ]:
thislist = [100,40,50,2,22,83,78]
thislist.sort(reverse=True)
print(thislist)

[100, 83, 78, 50, 40, 22, 2]

In [ ]:
thislist = ["orange", "mango","kiwi","pineapple","banana"]
thislist.sort(reverse=True)
print(thislist)

['pineapple', 'orange', 'mango', 'kiwi', 'banana']

In [ ]:
thislist = ["orange", "mango","kiwi","pineapple","banana"]
newlist = thislist.copy()
print(newlist)

['orange', 'mango', 'kiwi', 'pineapple', 'banana']

In [ ]:
thislist = [100,40,50,2,22,83,78]
newlist = thislist.copy()
print(newlist)

[100, 40, 50, 2, 22, 83, 78]

In [ ]:
list1 = ["orange", "mango","kiwi","pineapple","banana"]
list2 = [100,40,50,2,22,83,78]
list3 = list1 + list2
print(list3)

['orange', 'mango', 'kiwi', 'pineapple', 'banana', 100, 40, 50, 2, 22, 83, 78]

In [ ]:
list1 = ["orange", "mango","kiwi","pineapple","banana"]
list2 = [100,40,50,2,22,83,78]
for x in list2:
  list1.append(x)
print(list1)

['orange', 'mango', 'kiwi', 'pineapple', 'banana', 100, 40, 50, 2, 22, 83, 78]

In [ ]:
list1 = ["orange", "mango","kiwi","pineapple","banana"]
list2 = [100,40,50,2,22,83,78]
list1.extend(list2)
print(list1)

['orange', 'mango', 'kiwi', 'pineapple', 'banana', 100, 40, 50, 2, 22, 83, 78]

In [ ]:
list1 = ["a", "b","c","d","e"]
list2 = [1,2,3,4,5,6]
list3 = list1 + list2
print(list3)

['a', 'b', 'c', 'd', 'e', 1, 2, 3, 4, 5, 6]

In [ ]:
list1 = ["a", "b","c","d","e"]
list2 = [1,2,3,4,5,6]
for x in list2:
  list1.append(x)
print(list1)

['a', 'b', 'c', 'd', 'e', 1, 2, 3, 4, 5, 6]

In [ ]:
list1 = ["a", "b","c","d","e"]
list2 = [1,2,3,4,5,6]
list1.extend(list2)
print(list1)

['a', 'b', 'c', 'd', 'e', 1, 2, 3, 4, 5, 6]

In [ ]:
list1 = ["orange", "mango","kiwi","pineapple","banana"]
#******

In [ ]:
print(list1)

['orange', 'mango', 'kiwi', 'pineapple', 'banana']

In [ ]:
thistuple = ("apple","banana","cherry")
print(thistuple)

('apple', 'banana', 'cherry')

In [ ]:
thistuple = ("apple","banana","cherry","apple","banana","cherry")
print(thistuple)

('apple', 'banana', 'cherry', 'apple', 'banana', 'cherry')

In [ ]:
thistuple = ("apple","banana","cherry","apple","banana","cherry")
print(len(thistuple))

6

In [ ]:
tuple1 = ("orange","mango","kiwi","pineapple","banana",)
tuple2 = (100,40,50,2,22,83,78)
tuple3 = (True,False,False)

print(tuple1)
print(tuple2)
print(tuple3)

('orange', 'mango', 'kiwi', 'pineapple', 'banana')
(100, 40, 50, 2, 22, 83, 78)
(True, False, False)

In [ ]:
tuple1 = ("orange","mango","kiwi","pineapple",True,"banana",23)

In [ ]:
print(type(tuple1))

<class 'tuple'>

In [ ]:
tuple1 = ("orange",23,"pineapple","banana",True,"34")
print(tuple1[4])

True

In [ ]:
tuple1 = ("orange",23,"pineapple","banana",True,"34")
print(tuple1[-2])

True

In [ ]:
tuple1 = ("orange",23,"pineapple","banana",True,"34")
print(tuple1[:4])

('orange', 23, 'pineapple', 'banana')

In [ ]:
tuple1 = ("orange",23,"pineapple","banana",True,"34")
print(tuple1[2:])

('pineapple', 'banana', True, '34')

In [ ]:
x = ("apple","banana","cherry")

In [ ]:
x = ("apple","banana","cherry")
y = list(x)
y[1] = "kiwi"
x = tuple(y)
print (x)

('apple', 'kiwi', 'cherry')

In [ ]:
x = ("apple","banana","cherry")
y = list(x)
y.append("orange")
thistuple = tuple(y)

print (thistuple)

('apple', 'banana', 'cherry', 'orange')

In [ ]:
x = ("apple","banana","cherry")
y = list(x)
y.remove("apple")
thistuple = tuple(y)
print (thistuple)

('banana', 'cherry')

In [ ]:
fruits = ("apple","banana","cherry")
(green,yellow,red) = fruits
print(green)
print(yellow)
print(red)

apple
banana
cherry

In [ ]:
fruits = ("apple","banana","cherry","orange","mango")
(green,*yellow,red) = fruits
print(green)
print(yellow)
print(red)

apple
['banana', 'cherry', 'orange']
mango

In [ ]:
fruits = ("apple","banana","cherry","orange","mango")
for x in fruits:
  print(x)

apple
banana
cherry
orange
mango

In [ ]:
fruits = ("apple","banana","cherry","orange","mango")
for i in range(len(fruits)):
  print(fruits[i])

apple
banana
cherry
orange
mango