**python dictionaries**

In [ ]:
thisdict={"brand":"ford","model":"mustang","year":1964}
print(thisdict)

{'brand': 'ford', 'model': 'mustang', 'year': 1964}

In [3]:
mydict={"branch":"aeronautical engineering","year":3,"semester":5,"USN":"1AY18AE061"}
print(mydict)

{'branch': 'aeronautical engineering', 'year': 3, 'semester': 5, 'USN': '1AY18AE061'}
{'branch': 'aeronautical engineering', 'year': 3, 'semester': 5, 'USN': '1AY18AE061'}

In [4]:
print(mydict["USN"])

1AY18AE061

In [2]:
mydict={"branch":"aeronautical engineering","year":3,"semester":5,"USN":"1AY18AE061","year":5}
print(mydict["year"])#if same value is written twice, value that is updated later is shown

5

In [ ]:
print(len(mydict))

4

In [ ]:
thisdict={"brand":"ford","model":"mustang","country":"india","year":1964,"colour":["red","white","blue"]}
print(thisdict)

{'brand': 'ford', 'model': 'mustang', 'country': 'india', 'year': 1964, 'colour': ['red', 'white', 'blue']}

In [ ]:
print(type(thisdict))

<class 'dict'>

In [ ]:
thisdict={"brand":"ford","model":"mustang","country":"india","year":1964,"colour":["red","white","blue"]}
thisdict["year"]= 2020
print(thisdict)
print(len(thisdict["colour"]))

{'brand': 'ford', 'model': 'mustang', 'country': 'india', 'year': 2020, 'colour': ['red', 'white', 'blue']}
3

In [ ]:
thisdict={"brand":"ford","model":"mustang","country":"india","year":2022,"colour":["red","white","blue"]}
thisdict.update({"aditya":"first owner"})
print(thisdict)

{'brand': 'ford', 'model': 'mustang', 'country': 'india', 'year': 2022, 'colour': ['red', 'white', 'blue'], 'aditya': 'first owner'}

In [ ]:
thisdict={"brand":"ford","model":"mustang","country":"india","year":2022,"colour":["red","white","blue"]}
thisdict.pop("colour")
print(thisdict)

{'brand': 'ford', 'model': 'mustang', 'country': 'india', 'year': 2022}

In [ ]:
thisdict={"brand":"ford","model":"mustang","country":"india","year":2022,"colour":["red","white","blue"]}
del thisdict["year"]
print(thisdict)

{'brand': 'ford', 'model': 'mustang', 'country': 'india', 'colour': ['red', 'white', 'blue']}

In [ ]:
thisdict={"brand":"ford","model":"mustang","country":"india","year":2022,"colour":["red","white","blue"]}
thisdict.clear()
print(thisdict)

{}

In [ ]:
thisdict={"brand":"ford","model":"mustang","country":"india","year":2022,"colour":["red","white","blue"]}
newdict=thisdict.copy()
print(newdict)

{'brand': 'ford', 'model': 'mustang', 'country': 'india', 'year': 2022, 'colour': ['red', 'white', 'blue']}

In [5]:
thisdict={"child1":{"name":"chithra","year":2000},"child2":{"name":"rohan","year":2000},"child3":{"name":"chirag","year":2007}}
print(thisdict)

{'child1': {'name': 'chithra', 'year': 2000}, 'child2': {'name': 'rohan', 'year': 2000}, 'child3': {'name': 'chirag', 'year': 2007}}

dictionary methods

**1)clear() , 2)copy() , 3)fromkey() , 4)get() , 5)items() , 6)keys() , 7)pop() , 8)popitem() , 9)setdefault() , 10)update() , 11)values()**

In [ ]:
a=33
b=200
if b>a :
  print("b is greater")

b is greater

In [ ]:
a=33
b=33
if b>a :
  print("b is greater")
elif a==b :
  print("a and b are equal")

a and b are equal

In [ ]:
a=333
b=33
if b>a :
  print("b is greater")
elif a==b :
  print("a and b are equal")
else :
  print("a is greater than b")

a is greater than b

In [ ]:
a=333
b=33
if b>a :
  print("b is greater")
else :
  print("a is greater than b")

a is greater than b

In [ ]:
a=333
b=3333
if b>a : print("b is greater")

b is greater

In [ ]:
a=333
b=33
c=444
if a>b and c>a :
  print("both conditions are true.",a,"and",c,"are greater than",b)

both conditions are true. 333 and 444 are greater than 33

In [ ]:
a=333
b=33
c=444
if b>a or c>a :
  print("at least one of the conditions is true")

at least one of the conditions is true

***nested if***

In [ ]:
x=42
if x>10:
  print("value is greater than 10")
  if x>20:
    print("value is greater than 20")
else:
  print("value is less than 10")

value is greater than 10
value is greater than 20

***while loop***

In [ ]:
i=1
while i<6 :
  print(i)
  i+=1

1
2
3
4
5

In [ ]:
i=1
while i<6 :
  print(i)
  if i==3:
    break
  i+=1

1
2
3

In [ ]:
i=1
while i<6 :
  print(i)
  i+=1
else:
  print("i is no longer less than 6")

1
2
3
4
5
i is no longer less than 6

***python program to find the L.C.M of 2 input numbers***

In [ ]:
def lcm(x,y):
  if x>y:
    greater = x
  else:
    greater=y
  while(True):
    if ((greater%x==0) and (greater%y==0)):
      lcm=greater
      break
    greater+=1
  return lcm
num1=int(input("enter first number:"))
num2=int(input("enter second number:"))
print("lcm of",num1,"and",num2,"is",lcm(num1,num2))

enter first number:1234
enter second number:5678
lcm of 1234 and 5678 is 3503326